* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}


.bunter-text {
    background-color: black;
    color: red;
}

.box1 {
    background-color: green;
    color: yellow;
    margin: 20px;
    padding: 50px;
    border: 5px solid black;
    width: 50%; 
}

.box2 {
    background-color: coral;
    color: white;
    margin: 20px;
    padding: 80px;
    border: 5px solid black;
    border-radius: 20px;
    font-size: 36px;
    width: 80%;
}

.box-rund {
    background-color: red;
    margin: 20px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 10px 10px 8px black;
}

.box3 {
    background-color: wheat;
    color: black;
    margin: 40px;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 10px 10px 8px blueviolet, 20px 20px 8px black;
    font-size: 36px;
    text-shadow: 2px 2px 3px blueviolet;
}

.box-mit-effect {
    background-color: wheat;
    color: black;
    margin: 40px;
    padding: 20px;
    border-radius: 30px;
}

.box-mit-effect:hover {
    background-color: coral;
    color: white;
    box-shadow: 5px 5px 8px black;
}

.box4 {
    background-color: goldenrod;
    color: black;
    margin: 40px;
    padding: 10px;
    border-radius: 5px;
}

.box4:first-child {
    background-color: blueviolet;
}

.box4:last-child {
    background-color: lightgreen;
}


.box5 {
    background-color: orchid;
    color: black;
    margin: 40px;
    margin-right: 100px;
    padding: 10px;
    border: 3px solid black;
    border-radius: 8px;
}


.box5:nth-child(3n-1) {
    background-color: lightgreen;
    margin-left: 100px;
    margin-right: 40px;
}

.foto1 {
    margin: 20px;
    width: 500px;
}

.foto2 {
    margin: 20px;
    width: 50%;
}

.foto3 {
    margin: 20px;
    width: 80%;
}