* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #3c3c3c;
    color: white;
}


.grid-container {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    border: 2px solid green;
    margin: 20px;
    padding: 10px;
    gap: 10px;
}

.grid-item {   
    border: 2px solid red;
    padding: 20px;
}


.flex-container {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid yellow;
    margin: 20px;
    padding: 10px;
    gap: 20px;
    justify-content: center;
}

.flex-item {   
    border: 5px solid pink;
    padding: 20px;
}


.box-aussen {
    position: static;
    border: 2px solid red;
    margin: 20px;
    padding: 30px;
    width: 400px;
}

.box-innen {
    position: relative;
    left: 300px;
    top: -40px;
    background-color: coral;
    padding: 8px;
    width: 50%;
}

.box1 {
    border: 2px solid red;
    margin: 80px;
    padding: 40px;
    width: 50%;
}


.box-sticky {
    position: sticky;
    top: 0px;
    background-color: crimson;
    color: white;
    font-size: 24px;
    margin: 20px;
    padding: 10px;
}

.box-fix {
    position: fixed;
    bottom: 50px;
    right: 50px;
    background-color: yellow;
    color: black;
    font-size: 36px;
    border-radius: 20px;
    padding: 14px;
    width: 400px;
}